body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}
.content {
    max-width: 600px;
    padding: 60px;
    margin: 40px auto;
    border: 1.2px solid gray;
}

h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 382px;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    color:  #006EB6;
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid gray;
    display: inline-block;
    padding-bottom: 6px;

}

main p {
    text-align: left;
    margin-bottom: 12px;
}

main ol {
    margin-bottom: 20px;
    text-align: left;
}

main li {
    margin-bottom: 13px;
    text-align: left;
}

footer {
    margin-top: 35px;
}

.logo_webp {
    width: 150px;
}