body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.content {
    max-width: 600px;
    padding: 18px;
    margin: 40px auto;
    border: 1.2px solid gray;
}

h1{
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: 700;
}

h2{
    color:  #006EB6;
    margin-top: 0;
    font-weight: 500;
    text-transform: uppercase;
}

main p {
    text-align: left;
    margin-bottom: 12px;
}

main ol {
    padding-left: 15px;
}

main li {
    margin-bottom: 13px;
    text-align: left;
}

footer {
    margin-top: 35px;
}

.logo_webp {
    width: 150px;
}