:root {
    --primary:#4A5A48;
    --secondary: #F6F2E8;
    --accent1: #C5A777;
    --accent2: #8A9776;
    --text: #333333;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary);
    color: var(--text);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
}

header, footer {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
}

.navi-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

.nav-menu li a.active {
    border-bottom: 2px solid var(--accent1);
}

main {
    padding: 2rem;
}

/*-----filter bottons----*/

.filter-buttons button {
    background-color: var(--accent2);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: var(--primary);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.tag {
    color: var(--accent1);
    font-weight: bold;
    margin-top: 0.5rem;
}

.logo {
    max-width: 250px;
    width: auto;
    display: block;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--accent1);
}

footer {
    margin-top: 2rem;
    font-size: 0.9rem;
}


@media screen and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 0;
    margin: 0;
  }

  .nav-menu li {
    list-style: none;
  }

  .nav-menu a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
  }
}

