* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color:#473144;
    line-height: 1.4;
}

h1,h2 {
    font-family: 'Lora', serif;
    color: #af1b3f;
}

nav ul.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style: none;
    gap: 1.2rem;
    justify-content: end;
    padding: 0;
}

nav a {
    color: #af1b3f;
    text-decoration: underline;
    font-size: 1rem;
}

