* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color:#473144;
    line-height: 1.4;
    font-size: 1.1rem;
}

h1,h2 {
    font-family: 'Lora', serif;
    color: #af1b3f;
}

nav ul.main-nav {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style: none;
    gap: 1.2rem;
    justify-content: end;
    padding: 0;
}

nav a {
    color: #af1b3f;
    text-decoration: underline;
    font-size: 1rem;
}

.skiptocontent a {
    text-decoration: none;
    top: -40px;
    left: 0;
    position: absolute;
    color: white;
    padding: 10px 15px;
    background-color: #af1b3f;
    z-index: 100;
    transition: top;
}

.skiptocontent a:focus {
    top: 0;
}

header {
    padding: 1rem;
    border-bottom: 3px solid #af1b3f;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 3px solid #af1b3f;
    padding-bottom: 1rem;
}

.articles {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    grid-template-columns: 2fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

article {
    display: grid;
    gap: 1rem;
    border: 1px solid lightgray ;
    grid-template-columns: 110px 1fr;
    padding: 1rem;
    margin-bottom: 1rem;
}

.details {
    text-align: right;
    color: dimgray;
    font-size: 1rem;
}

.content {
    text-align: left;
}

.content h2 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.content img {
    margin: 0 0 0.5rem 0;
    max-width: 200px;
    height: auto;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.content p {
    margin-top: 0.5rem;
}

.filters {
    padding: 1.2rem;
    border: 1px dashed lightgray;
    background-color: #fefefe;
    grid-column: 2;
}

footer {
    text-align: center;
    padding: 1.2rem;
    margin-top: 1.8rem;
    background-color: #efc69b;
}