/* Use Roboto font */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Common styles for header, main, footer */
  header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff; /* light blue */
  }
  
  /* Main uses grid layout */
  main {
    display: grid;
    grid-template-columns: 1fr; /* one column */
    gap: 1rem;
  }
  
  /* Sections inside the main */
  section {
    padding: 1rem;
    background-color: #fff; /* white */
  }



  @media screen and (min-width: 500px) {    /*adding media query*/
    header {
      background-color: black;
      color: white;
    }
  
    main {
      grid-template-columns: 1fr 1fr; /* two columns */
    }
  }